<h2>welcome  to flair technologies</h2>
{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form  action="/office/details/" method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>

</div>

{% endblock %}
Don't have an account? <a href="/office/registration/">Create an account</a><br>
Forgot Password?<a href="/accounts/password_reset/">forgot password</a>